.custom-row{
margin: 0px !important;
}

.card {
    margin-bottom: 20px !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: .75rem;
}

.card-subtitle {
    margin-top: -.375rem;
    margin-bottom: 0;
}

.text-muted {
    color: #6c757d!important;
}

.mb-2, .my-2 {
    margin-bottom: .5rem!important;
}

.card-text:last-child {
    margin-bottom: 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Poppins";
    font-weight: normal;
    font-size: 14px;
}

.custom-btn{
background:white;
padding: 2px 5px 2px 5px;
border-radius: 4px;
font-size: 14px;
border: 1px solid#7c7cec;
border-style: double;
}

.custom-btn-save{
background:cornflowerblue;
color:white;
padding: 1px 6px 1px 6px;
}

.btnSelect{
border: 1px solid black;
background:white;
padding: 1px 7px 1px 8px;
border-radius: 3px;
}

.btnSelected{
    border: 1px solid#068002;
    background:#43d043;
    padding: 1px 7px 1px 8px;
    border-radius: 3px;
    color:white;
}


.showLeft{
    background-color: #0d77b6 !important;
    border:1px solid #0d77b6 !important;
    text-shadow: none !important;
    color:#fff !important;
    padding:10px;
}

.icons li {
    background: none repeat scroll 0 0 #fff;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius:50%;
    pointer-events: none;
}

.btn-left {
    /* left: 0.4em; */
}

.btn-right {
    /* right: 0.4em; */
}

.btn-left, .btn-right {
   /* position: absolute;
    top: 0.24em; */
}

          li{
            list-style : none !important;
          }


          .fave {
            background: none;
            border: 0;
            padding: 0;
            width: 70px;
            height: 45px;
            background: url(https://res.cloudinary.com/shanomurphy/image/upload/v1547543273/fave_ltre0q.png) no-repeat;
            background-position: 0 0;
            transition: background 1s steps(55);
            outline: 0;
            cursor: pointer;
          }
          
          .fave.faved {
            background-position: -3519px 0;
          }

          .heading{
            font-size: 27px;
            padding: 10px 0 0 0;
            margin: 0 0 2px 0;
          }

          .news-img{
          height: 140px !important;
    width: 270px;
}

.pagination
{
    display: flex;
}

.pagination li{
    list-style: none !important;
    text-align: center;
    border: 1px solid #25304e;
    border-spacing: 5px !important;
    padding: 3px 9px 2px 9px;
    border-radius: 25px;
    margin: 2px;
    background: white;

}

.pagination li a {
    color: #670dca;
}

.nav-pagination{
    float: right;
}