.login-cont {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-footer {
  margin-top: 1em;
}

.error-text {
  color: red;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}